#imgPreview {
	width: 200px; 
	max-height: 200px;
	display: block;
}

label {
	color: #fff;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #271074;
}

.wrapper {
	max-width: 350px;
	min-height: 500px;
	margin: 80px auto;
	padding: 40px 30px 30px 30px;
	background-color: #271074;
	border-radius: 15px;
}


.wrapper .name {
	font-weight: 900;
	font-size: 1.4rem;
	letter-spacing: 1.6px;
	padding-left: 10px;
	color: rgb(255, 255, 255)
}




.wrapper .btn {
	box-shadow: none;
	width: 80%;
	height: 40px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 3px 3px 3px , -3px -3px 3px ;
	letter-spacing: 1.3px
}

form {
	margin-left: 30px;
}

.incorrect{
	border-color: red;
}
.correct{
	border-color: rgb(4, 233, 4);
}



@media(max-width: 380px) {
	.wrapper {
		margin: 30px 20px;
		padding: 40px 15px 15px 15px
	}
}